@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  background-image: url(pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  overflow-x: hidden;
  font-size: 16px;
  height: 100%;
/* position: relative; */
}
.parent{
  display: grid;
  margin-left: 37%;
  margin-top: 4%;
  place-content: center;
  width: 25%;
  height: 100%;
}
.child-container {
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  right: 50%; */
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 25%; */
  /* height: 100%; */
  /* width: 100%; */
  /* top: 70px;
  left: 513px;
  right: 100px; */
  box-shadow: 0px 18px 50px hsl(224, 23%, 55%);
}
.child-container img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main-name {
  margin: 10px 10px 0px;
  height: 3rem;
  display: grid;
  place-items: center;
  font-family: "Red Hat Display", sans-serif;
  font-weight: bolder;
  font-size: large;
}
.information {
  text-align: center;
  width: 62%;
  padding: 0px 15px 15px;
  font-size: small;
}
.plan-box {
  background-color: hsl(225, 100%, 98%);
  width: 70%;
  margin: 0px 0px 20px;
  padding: 15px;
  display: flex;
  border-radius: 8px;
}
.logo {
  width: 35px;
  /* margin: auto; */
}
.annual-plan {
  /* margin: auto; */
  margin-left: 10px;
  font-family: "Red Hat Display", sans-serif;
  font-size: smaller;
  font-weight: 900;
}
.price{
    color: hsl(224, 23%, 55%);
    font-weight: lighter;
}
.change {
  /* color:  hsl(0, 100%, 51%); */
  width: 6rem;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: small;
}
.change a{
    color:  hsl(245, 75%, 52%);
}
.payment {
  background-color: hsl(245, 75%, 52%);
  color: white;
  height: 2.2rem;
  width: 80%;
  display: grid;
  place-items: center;
  font-size: smaller;
  /* border-bottom: 18px solid rgb(203, 196, 233); */
  box-shadow: 0px 18px 8px hsl(225, 100%, 94%);
  border-radius: 10px;
}
.cancel {
  font-size: smaller;
  margin: 24px 0px 36px;
}


/* Media Query */

@media screen and (max-width: 375px){
  .parent{
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
  }
  .logo {
    width: 50px;
    margin: auto;
  }
  .annual-plan{
    margin-left: 10px;
  }
}
